.App {
  text-align: center;
}

@keyframes example {
  from {
    background-position: bottom 50% left;
  }
  to {
    background-position: top 50% right;
  }
}

.background {
  background-image: radial-gradient(
    rgb(179, 179, 179) 1.2000000000000002px,
    #fafafa 2px
  );
  background-size: 100px 100px;
  animation-name: example;
  animation-duration: 4s ease-in alternate;
  animation-play-state: running;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
