.App {
  text-align: center;
}

@keyframes example {
  from {
    background-position: bottom 50% left;
  }
  to {
    background-position: top 50% right;
  }
}

.background {
  background-color: rgba(36, 41, 51, 1);
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      rgba(36, 41, 51, 1) 20%,
      rgba(36, 41, 51, 1) 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        rgba(36, 41, 51, 1) 20%,
        rgba(36, 41, 51, 1) 80%,
        transparent 80%,
        transparent
      )
      15px 15px,
    linear-gradient(rgba(62, 68, 078, 1) 1px, transparent 1px) 0 -0.6000000000000001px,
    linear-gradient(90deg, rgba(62, 68, 078, 1) 1px, rgba(36, 41, 51, 1) 1px) -0.6000000000000001px
      0;
  background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
}
